.lTroopsPage {
  background: url(../assets/images/lTroBg.jpg);
  position: fixed;  
  overflow: auto;
  z-index: -1;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;      
}

.troopLeaderboard {
  display: flex;
  background: url(../assets/images/leaderTroopBg.png);
  background-size: contain;
  align-items: flex-start;
  flex-direction: column;
  width: 300px;
  border-radius: 10px;
}

.p3 { 
  font-size: 30px; 
  font-weight: bold;   
  background: rgb(209, 138, 7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 15px;
}

.p4 { 
  font-size: 30px;  
  margin: 0; 
  background: rgb(7, 231, 156);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.troopsLeaderboardEnd {
  width: 100px;
  height: 50px;
}
